<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Poker Planning
        </NavLink>
    </div>
</nav>

