@using PokerPlanning.Models;

@if (room is not null && player is not null)
{
    <fieldset disabled=@room.CardsAreRevealed>
        <div class="card-group">
            @{
                var defaultClass = "card ";
                if (room.CardsAreRevealed)
                    defaultClass += "card-revealed ";
                foreach (var cardValue in room.CardValues)
                {
                    var cardClass = defaultClass;
                    if (player.Card == cardValue)
                        cardClass += "card-selected ";
                    <button class="@cardClass" @onclick="() =>{ player.Card = cardValue;}">
                        @cardValue
                    </button>
                }
            }
        </div>
    </fieldset>
}

@code {

    [Parameter] public Room? room { get; set; }
    [Parameter] public Player? player { get; set; }


}
