@inject IJSRuntime JSRuntime
<div>
    <CustomButton Class="btn-fixed-top-left" OnClick="CopyUri">
        Copy Room Url
    </CustomButton>
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = builder => { };

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    async Task CopyUri()
    {
        var uri = NavigationManager.Uri;
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", uri);
    }
}
