@if (!AutoStart)
{
    <button trigger="@DialogId" @onclick="DialogTrigger">@ButtonDisplay</button>
}

<dialog data-id="@DialogId" open="@AutoStart">
    <header>
        @ContentHeader
    </header>
    <div class="dialog-body">
        @ContentBody
    </div>
    <footer>
        @ContentFooter
    </footer>
</dialog>

@code {
    [Parameter] public string? DialogId { get; set; }
    [Parameter] public RenderFragment? ContentHeader { get; set; }
    [Parameter] public RenderFragment? ContentBody { get; set; }
    [Parameter] public RenderFragment? ContentFooter { get; set; }
    [Parameter] public bool AutoStart { get; set; }
    [Parameter] public string? ButtonDisplay { get; set; }
    [Inject] IJSRuntime JS { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(DialogId))
            DialogId = Guid.NewGuid().ToString();
    }

    async Task DialogTrigger()
    {
        await JS.InvokeVoidAsync("dialogShow", DialogId);
    }
}
