:root {
    --primary: #702AF7;
    --danger: #D30505;
    --background: #000;
    --item-background: #010314;
    --input-background: #16141A;
    --default: #fafafa;
}

html, body {
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--default);
}

.page {
    z-index: 1;
}

div.page-background {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-image: url('../assets/bg.svg');
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center bottom; /* Center the background image horizontally and vertically */
    background-size: cover; /* Cover the entire body with the background image */
}

button {
    text-align: center;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.2rem;
}

    button:hover {
        opacity: 0.7;
    }

    button:disabled {
        opacity: 0.2;
    }

    button:first-child {
        margin-left: 0 !important;
    }

input,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url],
input[type=search] {
    background: var(--input-background);
    border-radius: 0.1rem 0.1rem 0 0;
    border-bottom: 1px solid var(--default);
    color: var(--default);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    padding: 0.6rem 0.6rem;
    margin: 0.2rem;
    outline: none;
}


    input:first-child {
        margin-left: 0 !important;
    }

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


.danger {
    color: var(--danger);
}
