@page "/" 
@using PokerPlanning.Components
@using PokerPlanning.Services;

<PageTitle>Welcome</PageTitle>

<UserNameBarrierDialog>
    <Content>
        <h1>Welcome @userName!</h1>
        <br />

        <CreateRoomDialog />

    </Content>
</UserNameBarrierDialog>
 
@code {
    [Inject] IPlayerService? playerService { get; set; }

    string? userName = string.Empty;
     
    protected override void OnInitialized()
    {
        if (playerService is null)
            return;
        playerService.PlayerNameChanged += async (s, e) =>
        {
            userName = await playerService.GetUserName();
            await this.InvokeAsync(StateHasChanged);
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;
        if (playerService is null)
            return;
        userName = await playerService.GetUserName();
        await this.InvokeAsync(StateHasChanged);
    }
}